trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- script: |
    sudo apt-get update
    sudo apt-get install -y jmeter
  displayName: 'Instalar JMeter'

- script: |
    jmeter -n -t guru99v2.jmx -l results.jtl
  displayName: 'Ejecutar prueba JMeter'

