name: JMeter Performance Test

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  performance-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '11'

    - name: Install JMeter
      run: |
        JMETER_VERSION=5.6.3
        wget https://downloads.apache.org/jmeter/binaries/apache-jmeter-${JMETER_VERSION}.tgz
        tar -xzf apache-jmeter-${JMETER_VERSION}.tgz
        echo "JMETER_HOME=$(pwd)/apache-jmeter-${JMETER_VERSION}" >> $GITHUB_ENV

    # 1️⃣ Ejecutar prueba (solo JTL)
    - name: Run JMeter Test
      run: |
        mkdir -p results
        $JMETER_HOME/bin/jmeter -n \
          -t guru99v2.jmx \
          -l results/results.jtl \
          -Jjmeter.save.saveservice.script=false

    # 2️⃣ Generar reporte HTML
    - name: Generate HTML Report
      run: |
        mkdir -p results/html
        $JMETER_HOME/bin/jmeter \
          -g results/results.jtl \
          -o results/html

    # 3️⃣ Verificar resultados
    - name: Verify results
      run: |
        echo "Contenido de results:"
        ls -R results

    # 4️⃣ Subir JTL + HTML
    - name: Upload results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: jmeter-results
        path: results
