name: JMeter Performance Test

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  performance-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install JMeter
        run: |
          sudo apt-get update
          sudo apt-get install -y jmeter
          jmeter -v

      - name: Verify JMX
        run: |
          ls -la
          test -f guru99v2.jmx

      - name: Run JMeter Test (FIXED)
        run: |
          mkdir -p results
          jmeter -n \
            -t guru99v2.jmx \
            -l results/results.jtl \
            -e -o results/html \
            -Jjmeter.save.saveservice.script=true

          echo "Resultados:"
          ls -R results

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-results
          path: results
