name: JMeter Performance Test

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  performance-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install JMeter
        run: |
          sudo apt-get update
          sudo apt-get install -y jmeter
          jmeter -v

      - name: Run JMeter Test
        run: |
          mkdir -p results
          jmeter -n \
            -t guru99v2.jmx \
            -l results/results.jtl \
            -Jjmeter.save.saveservice.script=true
          ls -R results

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-results
          path: results
